<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>DarkerGrotesque-Regular.ttf</string>
		<string>DarkerGrotesque-Medium.ttf</string>
		<string>DarkerGrotesque-ExtraBold.ttf</string>
		<string>ZillaSlab-Regular.ttf</string>
		<string>ZillaSlab-SemiBold.ttf</string>
		<string>ZillaSlab-Light.ttf</string>
		<string>ZillaSlab-Bold.ttf</string>
		<string>SixCaps-Regular.ttf</string>
		<string>SecularOne-Regular.ttf</string>
		<string>RubikMonoOne-Regular.ttf</string>
		<string>Plaster-Regular.ttf</string>
		<string>NixieOne-Regular.ttf</string>
		<string>FredokaOne-Regular.ttf</string>
		<string>CormorantGaramond-Medium.ttf</string>
		<string>CormorantGaramond-Bold.ttf</string>
		<string>CormorantGaramond-Regular.ttf</string>
		<string>CormorantGaramond-SemiBold.ttf</string>
		<string>CormorantGaramond-Light.ttf</string>
		<string>BowlbyOneSC-Regular.ttf</string>
		<string>AbrilFatface-Regular.ttf</string>
		<string>Kristi-Regular.ttf</string>
		<string>GreatVibes-Regular.ttf</string>
		<string>DarkerGrotesque-Light.ttf</string>
		<string>DarkerGrotesque-SemiBold.ttf</string>
		<string>DarkerGrotesque-Bold.ttf</string>
		<string>DarkerGrotesque-Black.ttf</string>
		<string>Sacramento-Regular.ttf</string>
		<string>CutiveMono-Regular.ttf</string>
	</array>
</dict>
</plist>
